{% extends 'base.html' %}
{% load static %}
{% block base_content %}
<!-- begin #content -->
	<div id="content" class="content">
		<!-- begin container -->
		<div class="container">
			<!-- begin row -->
			<div class="row row-space-30">
				<!-- begin col-9 -->
				<div class="col-lg-9">
					<!-- begin post-list -->
					<ul class="post-list">
                        {% for post in posts %}
						<li>
							<!-- begin post-left-info -->
							<div class="post-left-info">
								<div class="post-date">
									<small>{{ post.created.date}}</small>
								</div>
								<div class="post-likes">
									<i class="fa fa-heart text-primary"></i>
									<span class="number">N. {{ post.id }}</span>
								</div>
							</div>
							<!-- end post-left-info -->
							<!-- begin post-content -->
							<div class="post-content">
								<!-- begin post-image -->
								<div class="post-image">
									<a href="{% url 'posts:detail' post.pk  %}">
										<div class="post-image-cover" style="background-image: url({{ post.photo.url }});"></div>
									</a>
								</div>
								<!-- end post-image -->
								<!-- begin post-info -->
								<div class="post-info">
									<h4 class="post-title">
										<a href="#">{{ post.title }}</a>
									</h4>
									<div class="post-by">
										Publicado por <a href="#">{{ post.author }}</a>
									</div>
									<div class="post-desc">
										{{ post.summary }}
									</div>
								</div>
								<!-- end post-info -->
								<!-- begin read-btn-container -->
								<div class="read-btn-container">
									<a href="{% url 'posts:detail' post.pk  %}" class="read-btn">Leer Post <i class="fa fa-angle-double-right"></i></a>
								</div>
								<!-- end read-btn-container -->
							</div>
							<!-- end post-content -->
						</li>
                        {% endfor %}

					</ul>
					<!-- end post-list -->

				</div>
				<!-- end col-9 -->
				<!-- begin col-3 -->
				<div class="col-lg-3">
					<!-- begin section-container -->
					<div class="section-container">
						<h4 class="section-title"><span>Recientes</span></h4>
						<ul class="sidebar-list">
                            {% for last in recent_posts %}
                                <li><a href="{% url 'posts:detail' last.pk  %}">{{ last.summary }} ({{ last.id}})</a></li>
                            {% endfor %}
						</ul>
					</div>
					<!-- end section-container -->

					<!-- begin section-container -->
					<div class="section-container">
						<h4 class="section-title"><span>Nuestras Redes</span></h4>
						<ul class="sidebar-social-list">
							<li><a href="#"><i class="fab fa-facebook"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
					<!-- end section-container -->
				</div>
				<!-- end col-3 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</div>
	<!-- end #content -->
{% endblock %}