{% extends 'base.html' %}
{% load static %}
{% block base_content %}

<div class="container">

<!-- Inicia la primera sección -->
    <div class="row pt-5">
        <div class="col-12 text-center">
            <h1>Nuestros Servicios</h1>
        </div>

        <div class="col-12 text-center">
            <h3>En Viavital deseamos que con nosotros encuentres un espacio</h3><br>
        </div>
    </div>
<!-- Finaliza la primera sección -->

<!-- Inicia el segundo sección -->
    <div class="row">
        <!-- Inicia el wrapper row -->
        <div class="wrapper">
        <!-- Card platilla Inicio -->
        <div class="card">
            <div class="poster"><img src="https://images.pexels.com/photos/5699456/pexels-photo-5699456.jpeg?cs=srgb&dl=pexels-alex-green-5699456.jpg&fm=jpg" alt="Location Unknown"></div>
            <div class="details">
                <h1>Ayuda Psicologica</h1>
                <h2>Duración • 1hr 38min</h2>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>4.2/5</span>
                </div>
                <div class="tags">
                    <span class="tag">Terapia</span>
                    <span class="tag">Emociones</span>
                    <span class="tag">Autoayuda</span>
                </div>
                <p class="desc">
                    "Una mano amiga y comprensiva, lista para escucharte y acompañarte en tu camino hacia el bienestar mental."
                </p>
                <!--<div class="cast">
                    <h4>Expertos</h4>
                    <ul>
                        <li><img src="https://i.postimg.cc/jqgkqhSb/cast-11.jpg" alt="Marco Andrews" title="Marco Andrews"></li>
                        <li><img src="https://i.postimg.cc/8P7X7r7r/cast-12.jpg" alt="Rebecca Floyd" title="Rebecca Floyd"></li>
                        <li><img src="https://i.postimg.cc/2SvHwRFk/cast-13.jpg
    " alt="Antonio Herrera" title="Antonio Herrera"></li>
                    </ul>
                </div>-->
            </div>
        </div>

        <!-- Card platilla Final -->

        <!-- Card platilla Inicio -->
        <div class="card">
            <div class="poster"><img src="https://images.pexels.com/photos/4736685/pexels-photo-4736685.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Location Unknown"></div>
            <div class="details">
                <h1>Desarrollo Emocional</h1>
                <h2>Duración • 24min</h2>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <span>4/5</span>
                </div>
                <div class="tags">
                    <span class="tag">Amor</span>
                    <span class="tag">Autoconocimiento</span>
                    <span class="tag">Aceptación</span>
                </div>
                <p class="desc">
                    Encuentra apoyo en la ayuda psicológica: un espacio seguro para hablar, sanar y crecer. Nuestro equipo de profesionales te guiará en tu camino hacia el bienestar mental y emocional. Juntos, construiremos una base sólida para una vida más saludable y significativa.
                </p>
                <!--<div class="cast">
                    <h4>Expertos</h4>
                    <ul>
                        <li><img src="https://i.postimg.cc/yY2QcYRp/cast-21.jpg" alt="Angelina Whyte" title="Angelina Whyte"></li>
                        <li><img src="https://i.postimg.cc/R0BgpsXc/cast-22.jpg" alt="Ivan Benson" title="Ivan Benson"></li>
                    </ul>
                </div>-->
            </div>
        </div>

        <!-- Card platilla Final -->

         <!-- Card platilla Inicio -->
        <div class="card">
            <div class="poster"><img src="https://us.123rf.com/450wm/kitten31/kitten312004/kitten31200400011/159993179-las-personas-se-unen-con-confianza-y-%C3%A9xito-en-el-trabajo-en-equipo-un-fuerte-grupo-de-empleados-o.jpg?ver=6" alt="Location Unknown"></div>
            <div class="details">
                <h1>Trabajo En Empresas</h1>
                <h2>Duración • 1hr 41min</h2>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>4.7/5</span>
                </div>
                <div class="tags">
                    <span class="tag yellow">Mindfulness</span>
                    <span class="tag">Autoestima</span>
                    <span class="tag blue">Relajación</span>
                </div>
                <p class="desc">
                    Encuentra claridad y sanación a través de nuestra ayuda psicológica. Nuestros expertos te brindan apoyo para superar desafíos emocionales y mejorar tu bienestar mental. Da el primer paso hacia una vida más plena y feliz
                </p>
                <!--<div class="cast">
                    <h4>Expertos</h4>
                    <ul>
                        <li><img src="https://i.postimg.cc/xd3twv4B/cast-31.jpg" alt="Jessica Enduro" title="Jessica Enduro"></li>
                        <li><img src="https://i.postimg.cc/C1MmSZy5/cast-32.jpg" alt="Charles Garcia" title="Charles Garcia"></li>
                    </ul>
                </div>-->
            </div>
        </div>
        <!-- Card platilla Final -->

    </div>
     <!-- finaliza wrapper -->
    </div>
    <!-- finaliza el segundo sección -->


<!-- Inicia la tercera sección -->

    <div class="row pt-5">
        <div class="col-12 text-center">
            <h1>Nuestros Servicios están dirigidos a:</h1><hr>
        </div>
    </div>

    <div class="row p-5">
        <div class="col-12">
            <ul>
                <h4>Hombres, Mujeres, Jóvenes, Adolescentes y niños que deseen trabajar consigo mismos y con el contexto en donde se desenvuelven.</h4><br>
                <h4>Generalmente quienes solicitan nuestros servicios son Profesionistas, Empresarios, con un nivel de Jefatura en adelante y Padres de familia en busca de la solución de problemas familiares y laborales.</h4><br>
                <h4>Brindamos nuestros servicios en Toluca, zona metropolitana, con prospección de tener presencia en Querétaro y Michoacán.</h4>
            </ul>
        </div>
    </div>

<!-- Finaliza la tercera sección -->

<!-- Inicia la cuarta sección -->
<!-- Hero Section -->
    <div class="row pt-5">
          <div class="col-sm-5">
            <h1 class="main-h1" style="padding-bottom: 1rem;">¿Qué hacemos?</h1>
            <h4 style="padding-bottom: 5rem; text-align: justify"> Acompañamos a las personas y empresas con planes didácticos y sistemáticos de formación que cubren en profundidad las áreas cruciales del crecimiento humano y el desarrollo de la inteligencia emocional. </h4>
            <div class="col">
              <div class="btn-group">
                <a href="{% url 'posts:about'%}" class="btn btn-lg btn-primary">Contactar</a>
                <a href="{% url 'posts:post' %}" class="btn btn-lg btn-outline-primary">Ver Posts</a>
              </div>
            </div>
          </div>

          <div class="col-sm-7">
            <img loading="lazy" class="profile-pic" src="https://cdn-icons-png.flaticon.com/512/6009/6009714.png" alt="profile-pic">
          </div>
    </div>
    <!-- Overflow Icon -->
    <div class="row">
        <div class="outer-img1">
          <i class="fa-10x fas fa-fan icon-color inner-img1 animation1"></i>
        </div>
    </div>

    <div class="row p-4">
        <div class="col-12">
                <div class="letter">
                    <div class="words word-1">
                      <span>E</span>
                      <span>l</span>
                      <span> </span>
                      <span> </span>
                      <span> </span>
                      <span>A</span>
                      <span>r</span>
                      <span>t</span>
                      <span>e</span>
                      <span> </span>
                      <span> </span>
                      <span> </span>
                      <span>D</span>
                      <span>e</span>
                      <span> </span>
                      <span> </span>
                      <span> </span>
                      <span>S</span>
                      <span>e</span>
                      <span>r</span>
                    </div>
                </div>
        </div>

    </div>
<!-- Finaliza la cuarta sección -->


<!-- Inicia la quinta sección -->
    <div class="row">
        <div class="body_footer">
            <div class="wrapper_footer">
            <span class="span_footer"></span>
            <span class="span_footer"></span>
            <span class="span_footer"></span>
            <span class="span_footer"></span>
            <span class="span_footer"></span>
            <span class="span_footer"></span>
            <span class="span_footer"></span>
            <span class="span_footer"></span>
            <span class="span_footer"></span>
            <span class="span_footer"></span>
        </div>
        </div>
    </div>
<!-- Finaliza da quinta sección -->

</div>



{% endblock %}